USE [master]
GO
/****** Object:  Database [Karavan_4187]    Script Date: 10/10/2020 5:41:29 PM ******/
CREATE DATABASE [Karavan_4187]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'Karavan_4187', FILENAME = N'/var/opt/mssql/data/Karavan_4187.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'Karavan_4187_log', FILENAME = N'/var/opt/mssql/data/Karavan_4187_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karavan_4187].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karavan_4187]
GO
/****** Object:  Table [dbo].[EMAIL]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL](
	[ID_posetitel] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMAIL] PRIMARY KEY CLUSTERED
(
	[ID_posetitel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_GRUPA]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_GRUPA](
	[ID_grupa] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[jazik_id_jazik_n] [numeric](18, 0) NULL,
	[naziv] [nvarchar](50) NULL,
	[aktivna] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EMAIL_GRUPA] PRIMARY KEY CLUSTERED
(
	[ID_grupa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_PORAKA]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_PORAKA](
	[ID_poraka] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[grupa_id_grupa] [numeric](18, 0) NULL,
	[datum] [datetime] NULL,
	[naslov] [nvarchar](50) NULL,
	[tekst] [nvarchar](500) NULL,
 CONSTRAINT [PK_EMAIL_PORAKA] PRIMARY KEY CLUSTERED
(
	[ID_poraka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA](
	[ID_galerija] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[preview] [numeric](18, 0) NULL,
 CONSTRAINT [PK_GALERIJA] PRIMARY KEY CLUSTERED
(
	[ID_galerija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA_OPIS]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA_OPIS](
	[gal_id_galerija] [numeric](18, 0) NULL,
	[jazik_id_jazik_n] [numeric](18, 0) NULL,
	[naslov] [nvarchar](50) NULL,
	[opis] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA_SLIKA]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA_SLIKA](
	[ID_slika] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[gal_id_galerija] [numeric](18, 0) NULL,
	[opis_slika] [nvarchar](300) NULL,
	[slika] [nvarchar](50) NOT NULL,
	[opis_slika_eng] [nvarchar](300) NULL,
 CONSTRAINT [PK_GALERIJA_SLIKA] PRIMARY KEY CLUSTERED
(
	[ID_slika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JAZIK]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JAZIK](
	[ID_jazik] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[jazik] [nvarchar](50) NULL,
 CONSTRAINT [PK_JAZIK] PRIMARY KEY CLUSTERED
(
	[ID_jazik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KADMINISTRATOR]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KADMINISTRATOR](
	[ID_admin] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[ime] [nvarchar](50) NULL,
	[telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_KADMINISTRATOR] PRIMARY KEY CLUSTERED
(
	[ID_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KDOKUMENT]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KDOKUMENT](
	[ID_dokument] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[naslov] [nvarchar](50) NULL,
	[jazik_id_jazik_n] [numeric](18, 0) NULL,
	[dokument] [nvarchar](50) NULL,
	[prikaz] [numeric](18, 0) NULL,
 CONSTRAINT [PK_KDOKUMENT] PRIMARY KEY CLUSTERED
(
	[ID_dokument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KNOVOST]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KNOVOST](
	[ID_novost] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[adm_id_admin_n] [numeric](18, 0) NULL,
	[jazik_id_jazik_n] [numeric](18, 0) NULL,
	[naslov] [nvarchar](50) NULL,
	[opis] [nvarchar](50) NULL,
	[datum_od] [datetime] NULL,
	[datum_do] [datetime] NULL,
 CONSTRAINT [PK_KNOVOST] PRIMARY KEY CLUSTERED
(
	[ID_novost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILING]    Script Date: 10/10/2020 5:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILING](
	[email_id_posetitel] [numeric](18, 0) NULL,
	[email_id_grupa] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMAIL_GRUPA]  WITH CHECK ADD  CONSTRAINT [FK_jazik_to_email_group] FOREIGN KEY([jazik_id_jazik_n])
REFERENCES [dbo].[JAZIK] ([ID_jazik])
GO
ALTER TABLE [dbo].[EMAIL_GRUPA] CHECK CONSTRAINT [FK_jazik_to_email_group]
GO
ALTER TABLE [dbo].[EMAIL_PORAKA]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_PORAKA_EMAIL_GRUPA] FOREIGN KEY([grupa_id_grupa])
REFERENCES [dbo].[EMAIL_GRUPA] ([ID_grupa])
GO
ALTER TABLE [dbo].[EMAIL_PORAKA] CHECK CONSTRAINT [FK_EMAIL_PORAKA_EMAIL_GRUPA]
GO
ALTER TABLE [dbo].[GALERIJA_OPIS]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_OPIS_GALERIJA] FOREIGN KEY([gal_id_galerija])
REFERENCES [dbo].[GALERIJA] ([ID_galerija])
GO
ALTER TABLE [dbo].[GALERIJA_OPIS] CHECK CONSTRAINT [FK_GALERIJA_OPIS_GALERIJA]
GO
ALTER TABLE [dbo].[GALERIJA_OPIS]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_OPIS_JAZIK] FOREIGN KEY([jazik_id_jazik_n])
REFERENCES [dbo].[JAZIK] ([ID_jazik])
GO
ALTER TABLE [dbo].[GALERIJA_OPIS] CHECK CONSTRAINT [FK_GALERIJA_OPIS_JAZIK]
GO
ALTER TABLE [dbo].[GALERIJA_SLIKA]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_SLIKA_GALERIJA] FOREIGN KEY([gal_id_galerija])
REFERENCES [dbo].[GALERIJA] ([ID_galerija])
GO
ALTER TABLE [dbo].[GALERIJA_SLIKA] CHECK CONSTRAINT [FK_GALERIJA_SLIKA_GALERIJA]
GO
ALTER TABLE [dbo].[KDOKUMENT]  WITH CHECK ADD  CONSTRAINT [FK_jazik-to-kdokument] FOREIGN KEY([jazik_id_jazik_n])
REFERENCES [dbo].[JAZIK] ([ID_jazik])
GO
ALTER TABLE [dbo].[KDOKUMENT] CHECK CONSTRAINT [FK_jazik-to-kdokument]
GO
ALTER TABLE [dbo].[KNOVOST]  WITH CHECK ADD  CONSTRAINT [FK_admin-to-novost] FOREIGN KEY([adm_id_admin_n])
REFERENCES [dbo].[KADMINISTRATOR] ([ID_admin])
GO
ALTER TABLE [dbo].[KNOVOST] CHECK CONSTRAINT [FK_admin-to-novost]
GO
ALTER TABLE [dbo].[KNOVOST]  WITH CHECK ADD  CONSTRAINT [FK_jazik-id-to-novost] FOREIGN KEY([jazik_id_jazik_n])
REFERENCES [dbo].[JAZIK] ([ID_jazik])
GO
ALTER TABLE [dbo].[KNOVOST] CHECK CONSTRAINT [FK_jazik-id-to-novost]
GO
ALTER TABLE [dbo].[MAILING]  WITH CHECK ADD  CONSTRAINT [FK_grupa] FOREIGN KEY([email_id_grupa])
REFERENCES [dbo].[EMAIL_GRUPA] ([ID_grupa])
GO
ALTER TABLE [dbo].[MAILING] CHECK CONSTRAINT [FK_grupa]
GO
ALTER TABLE [dbo].[MAILING]  WITH CHECK ADD  CONSTRAINT [FK_posetitel] FOREIGN KEY([email_id_posetitel])
REFERENCES [dbo].[EMAIL] ([ID_posetitel])
GO
ALTER TABLE [dbo].[MAILING] CHECK CONSTRAINT [FK_posetitel]
GO
USE [master]
GO
